table {
    border-spacing: 0;
}

.mdl-data-table--selectable {
    td:first-of-type,
    th:first-of-type {
        text-align: left;
    }
}

// .qor-table--bulking tr.qor-table__inner-list label.mdl-checkbox {
//     display: none;
// }

.qor-table, .qor-table__legend {
    width: calc(100% - 48px);
    border: 0;
    margin: 0 24px;
}

.qor-table__legend {
    margin-top: 15px;
    .mdl-chip__contact {
        border: 1px solid #bbbbbb;
        height: 22px;
        width: 22px;
        line-height: 22px;
        border-radius: 11px;
    }

    .mdl-chip__contact__point {
        height: 10px;
        width: 10px;
        border-radius: 10px;
        margin-left: 5px;
        line-height: 10px;
    }

    .mdl-chip {
        height: 24px;
        line-height: 24px;
    }

    .mdl-chip__text {
        line-height: 24px;
    }
}

.mdl-data-table{
    border-spacing: 0;

    td {
        background-clip: padding-box;
    }
}

.qor-table {
    @include shadow-2dp();
    /* &::before {
        content: ' ';
        position: absolute;
        z-index: 0;
        top: -5px;
        left: -5px;
        right: -5px;
        height: 54px;
        background-color: $table-header-bg;
    } */


    /* Fixed Headers */

    /*
    th[scope=row] {
        z-index: 4;
    }

    td[scope=row] {
        background-color: #F2F2F2;
        z-index: 2;
    }

    td[scope=row],th[scope=row] {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
    }

    td:not([scope=row]):first-child,th:not([scope=row]):first-child {
        left: 0;
        z-index: 3;
    }

    tr > th:first-child:is([scope=row].qor-table__actions) {
        max-width: 36px;

        >.mdl-menu__container {
            z-index: 1;
        }
    }
    */

    td {
        border-top-color: $color-dash;
        border-bottom-color: $color-dash;
        border-left: 1px solid $color-dash;

        &:last-of-type {
            border-right: 1px solid $color-dash;
        }

        &:is([scope=row].qor-table__actions) {
            > button.mdl-button--icon {
                height: 24px;
                width: 24px;
                min-width: 24px;
            }
        }
    }
    thead {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 10;
        @include shadow-2dp();

        // position: relative;

        th {
            background-color: $table-header-bg;
            font-size: 12px;
            font-weight: 400;
            border: 1px solid $color-dash;
            text-align: center;
            background-clip: padding-box;

            &.qor-table__actions {
                width: 80px;
            }

            &:last-of-type {
                border-right: 1px solid $color-dash;
            }
        }
    }
    a:not([class*='mdl-button']) {
        color: unquote('rgba(#{$color-black}, 0.87)');
        font-weight: 400;
    }
    tbody {
        tr {
            // position: static;
            &:hover td {
                background-color: rgba(253, 228, 0, 0.5);
            }
            &.is-selected td {
                background-color: rgba(250, 39, 64, 0.32);
                font-weight: bold;
            }
        }
    }
    img:not([data-cropper]) {
        width: auto !important;
        height: 24px !important;
        max-height: 24px !important;
        max-width: 54px !important;
    }
    &.is-sortable > thead > tr > th {
        &[data-order-by] {
            text-decoration: underline;
            cursor: pointer;
        }
        &.is-sorted,&.is-not-sorted {
            color: unquote('rgb(#{$color-black})');
            font-weight: 500;

            &[data-order-by]::after {
                margin-left: 8px;
                font-size: 14px;
                content: '\e164';
                vertical-align: middle;
                @extend .material-icons;
            }
        }
        &.is-sorted {
            &[data-order-by]::after {
                content: '\e164';
            }
            &[data-order-by*=':desc']::after {
                transform: scaleY(-1);
            }
        }
        &.is-not-sorted {
            &[data-order-by]::after {
                color: unquote('rgb(#{$palette-grey-500})');
                content: '\e8d5';
            }
        }
    }
}

.qor-theme-publish {
    .qor-table {
        margin-left: 0;
    }
}

.qor-table__icon-header {
    width: 80px !important;
}

.qor-table__icon {
    height: 45px;
    max-width: 80px;
    max-height: 45px;
    padding: 2px 24px !important;
    text-align: center;
    img {
        width: auto !important;
        height: 45px !important;
        max-height: 45px !important;
        max-width: 80px !important;
    }
}
.qor-table__content {
    max-width: 300px;
    max-height: 24px;
    @include text-overflow();
    p {
        max-width: 3000px;
        max-height: 24px;
        @include text-overflow();
        font-size: 13px;
    }

    > .material-icons {
        display: inherit;
        font-size: 20px;
    }
}

.qor-page .qor-table__actions, .qor-slideout .qor-table__actions {
    text-align: center !important;
    .mdl-menu {
        min-width: 160px;
    }
    .mdl-button {
        margin: -4px 0;
        + .mdl-button {
            margin-left: 8px;
        }
    }
    .mdl-menu__item {
        padding: 0 16px 0 26px;
    }
    .mdl-menu__item, .mdl-menu__item a {
        height: 24px;
        line-height: 24px;
    }
    .mdl-menu__item a {
        height: 24px;
        line-height: 24px;
        padding: 0 5px 0 5px;
        color: unquote('rgba(#{$color-black}, 0.87)');
        text-decoration: none;

        > .material-icons {
            position: absolute;
            left: 5px;
        }
    }
}

.qor-table-container {
    position: relative;
    margin-top: 24px;
    z-index: 2;
}

.qor-table--medialibrary {
    margin-left: 24px;
    width: calc(100% - 48px);
    .qor-sorting__hover {
        td {
            border: 0;
        }
        .mdl-card {
            border: 2px solid $color-main-header;
        }
    }
    &.mdl-data-table--selectable {
        th {
            text-align: left;
        }
        tbody tr td:first-child {
            position: absolute;
            z-index: 2;
            margin: 8px 0 0 10px;
        }
    }
    .mdl-card {
        width: 200px;
        .mdl-card__menu {
            right: 4px;
            top: 8px;
            z-index: 10;
        }
        &:hover {
            .mdl-button {
                background-color: rgba(158, 158, 158, 0.5);
            }
        }
    }
    .mdl-card__supporting-text {
        width: auto;
        padding: 0;
        > p {
            margin-bottom: 8px;
            padding: 0 16px;
            line-height: 1.2;
            &:last-child {
                margin-bottom: 16px;
            }
            &[data-heading*='Name'],
            &[data-heading*='name'] {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            &[data-heading*='Image'],
            &[data-heading*='image'],
            &[data-heading*='File'],
            &[data-heading*='file'],
            &.qor-table--video {
                padding: 0;
                height: 200px;
                overflow: hidden;
                line-height: 200px;
                text-align: center;
                background-color: unquote('rgba(#{$color-black}, 0.05)');
            }
            .qor-table--medialibrary-file {
                display: flex;
                justify-content: center;
                flex-direction: column;
                background-color: unquote('rgba(#{$color-black}, 0.1)');
                height: 200px;
                a {
                    padding: 0 32px;
                    line-height: initial;
                    word-wrap: break-word;
                    word-break: break-word;
                    text-align: center;
                }
            }
        }
    }
    > tbody {
        > tr {
            vertical-align: top;
            display: inline-flex;
            td {
                padding-right: 16px;
                padding-bottom: 16px;
            }
        }
    }
    img {
        max-width: 100%;
        margin: 0 auto;
    }
}


tr td[data-heading="TREE_NODE_DEPTH_STRING"] pre {
    background: none;
    margin: 0;
    padding: 0;
    display: inline;
    border: 0 !important;
}