<div class="qor-field">
  {{if (eq .Context.Action "show")}}
    {{if .Value}}
      <label><span class="qor-field__label"><i class="material-icons">done</i> {{meta_record_label .Meta .Record}}{{if  and not_show .Meta.Required}} <i class="required-asterisk">*</i>{{end}}</span></label>
      {{$help := meta_record_help .Meta .Record}}
      {{if $help}}
          <div class="qor-field__help">{{$help}}</div>
      {{end}}
    {{end}}
  {{else}}
    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" {{if .InputId}}for="{{.InputId}}"{{end}}>
      <span class="qor-field__label mdl-checkbox__label">{{meta_record_label .Meta .Record}}</span>

      <span class="qor-field__edit">
        <input type="hidden" name="{{.InputName}}" value="false">
        <input type="checkbox" {{if .InputId}}id="{{.InputId}}"{{end}} name="{{.InputName}}" class="mdl-checkbox__input" value="true" type="checkbox" {{if .Value}}checked{{end}}{{if (or (eq .Context.Action "show") (not (has_update_permission .Meta)))}} disabled{{end}}>
      </span>
    </label>

    {{$help := meta_record_help .Meta .Record}}
    {{if $help}}
        <div class="qor-field__help">{{$help}}</div>
    {{end}}
  {{end}}
</div>
