{{$metaConfig := .Meta.Config}}
{{$current_values := (raw_value_of .ResourceValue .Meta)}}

{{if .ReadOnly}}
  {{if $current_values}}
    <div class="qor-field collection-edit qor-fieldset-container" {{if $metaConfig.Max}}data-max-item="{{$metaConfig.Max}}" data-max-item-hint="Up to {{$metaConfig.Max}} {{meta_record_label .Meta .Record}}"{{end}}>
        <label class="qor-field__label" for="{{.InputId}}">
        {{meta_record_label .Meta .Record}}
        </label>
        {{$help := meta_record_help .Meta .Record}}
        {{if $help}}
            <div class="qor-field__help">{{$help}}</div>
        {{end}}

        <div class="qor-field__block">
        {{$meta := .Meta}}
        {{$ctx := .Context}}
        {{$rec := .Record}}
        {{range $index, $item := $current_values }}
            {{$itemContext := $ctx.CreateChild $meta.Resource $item}}
            <fieldset class="qor-fieldset">
                {{render_nested_ctx "form" $itemContext "show" $meta $index}}
            </fieldset>
        {{end}}
        </div>
    </div>
  {{end}}
{{else}}
    {{$appendable := and (has_create_permission .Meta) (.Meta.CanCreateItem .Context .Record)}}
<div class="qor-field collection-edit qor-fieldset-container" {{if $metaConfig.Max}}data-max-item="{{$metaConfig.Max}}" data-max-item-hint="Up to {{$metaConfig.Max}} {{meta_record_label .Meta .Record}}"{{end}}>
  <label class="qor-field__label" for="{{.InputId}}">
    {{meta_record_label .Meta .Record}}{{if and .NotReadOnly .Meta.Required}} <i class="required-asterisk">*</i>{{end}}
  </label>
  {{$help := meta_record_help .Meta .Record}}
  {{if $help}}
    <div class="qor-field__help">{{$help}}</div>
  {{end}}

    {{$meta := .Meta}}
    {{$ctx := .Context}}
    {{$inputName := .InputName}}

    {{if $appendable}}
      <template type="qor-collection-edit-new/html" data-next-index="{{len $current_values}}">
          <fieldset class="qor-fieldset">
            <button class="mdl-button qor-button--muted mdl-button--icon mdl-js-button qor-fieldset__delete" type="button">
              <i class="material-icons md-18">delete</i>
            </button>
            {{$itemContext := $ctx.CreateChild $meta.Resource (new_resource_struct $meta.Resource)}}
            {{render_nested_ctx "form" $itemContext "new" $meta -1}}
          </fieldset>
      </template>
    {{end}}

  <div class="qor-field__block">
    {{$rec := .Record}}
    {{if $current_values}}
      {{range $index, $item := $current_values }}
          {{$itemContext := $ctx.CreateChild $meta.Resource $item}}
          {{if $meta.IsReadOnlyItem $ctx $rec .}}
              {{render_nested_ctx "form" $itemContext "show" $meta $index}}
          {{else}}
            <fieldset class="qor-fieldset">
              <input type="hidden" name="{{$inputName}}.{{$index}}.id" value="{{primary_key_of $item}}" />
              {{if and (has_delete_permission $meta) ($meta.CanDeleteItem $ctx $rec $item)}}
                <button class="mdl-button qor-button--muted mdl-button--icon mdl-js-button qor-fieldset__delete" type="button">
                  <i class="material-icons md-18">delete</i>
                </button>
              {{end}}
              {{if (eq (admin_context).Action "edit")}}
                {{render_nested_ctx "form" $itemContext "edit" $meta $index}}
              {{else}}
                {{render_nested_ctx "form" $itemContext "show" $meta $index}}
              {{end}}
            </fieldset>
          {{end}}
      {{end}}
    {{end}}

    {{if $appendable}}
      <button class="mdl-button mdl-button--primary qor-fieldset__add" type="button">
        {{printf (ts "^github_com:ecletus:admin.form.collection.add") (singular (meta_record_label .Meta .Record))}}
      </button>
    {{end}}
  </div>
</div>
{{end}}