{{if .Value}}
    {{if (.Value.OnlyEnabledField .Context)}}
        <div class="qor-field">
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" {{if .InputId}}for="{{.InputId}}"{{end}}>
                <input type="checkbox" {{if .InputId}}id="{{.InputId}}"{{end}} name="{{.InputName}}.FragmentEnabled" class="mdl-switch__input"
                       type="checkbox" {{if .Value.EnabledFieldValue}}checked{{end}}>
                <span class="qor-field__label mdl-switch__label">{{t .Value.Resource.SingularLabelKey}}</span>
                <input type="hidden" name="{{.InputName}}.FragmentEnabled" value="{{if .Value.EnabledFieldValue}}true{{end}}">
            </label>
        </div>
    {{else}}
        {{- wrap -}}
            {{if ((admin_context).Is "new") }}
                {{render_nested_form .Value.Value .Meta (new_sections .Value.Resource) -1}}
            {{else if ((admin_context).Is "show") }}
                {{render_nested_form .Value.Value .Meta (.Value.ShowSections .Context) -1}}
            {{else if ((admin_context).Is "edit")}}
                {{render_nested_form .Value.Value .Meta (.Value.EditSections .Context) -1}}
            {{end}}
        {{- begin -}}
            <div class="single-edit qor-field">
                {{if (.Value.OnlyEnabledField .Context)}}
                <label class="qor-field__label" for="{{.InputId}}">
                  {{t .Value.Resource.SingularLabelKey}}
                </label>
                {{end}}

                <div class="qor-field__block">
                  <fieldset id="{{.InputId}}" class="qor-fieldset">
        {{- after -}}
                  </fieldset>
                </div>
            </div>
        {{end}}
    {{end}}
{{end}}