{{if .Value}}
    {{if (.MetaValue.Raw.OnlyEnabledField .Context)}}
        <div class="qor-field">
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" {{if .InputId}}for="{{.InputId}}"{{end}}>
                <input type="checkbox" {{if .InputId}}id="{{.InputId}}"{{end}} name="{{.InputName}}.FragmentEnabled" class="mdl-switch__input"
                       type="checkbox" {{if .MetaValue.Raw.EnabledFieldValue}}checked{{end}}>
                <span class="qor-field__label mdl-switch__label">{{t .MetaValue.Raw.Resource.SingularLabelKey}}</span>
                <input type="hidden" name="{{.InputName}}.FragmentEnabled" value="{{if .MetaValue.Raw.EnabledFieldValue}}true{{end}}">
            </label>
        </div>
    {{else}}
        {{- wrap -}}
        {{if (admin_context).Is "new" }}
            {{render_nested_ctx "form" (.Context.CreateChild .Value.Resource .Value.Value) "new" .Meta -2}}
        {{else if ((admin_context).Is "edit")}}
            {{render_nested_ctx "form" (.Context.CreateChild .Value.Resource .Value.Value) "edit" .Meta -2}}
        {{else}}
            {{render_nested_ctx "form" (.Context.CreateChild .Value.Resource .Value.Value) "show" .Meta -2}}
        {{end}}
        {{- begin -}}
            <div class="single-edit qor-field">
                {{if (.MetaValue.Raw.OnlyEnabledField .Context)}}
                <label class="qor-field__label" for="{{.InputId}}">
                  {{t .MetaValue.Raw.Resource.SingularLabelKey}}
                </label>
                {{end}}

                <div class="qor-field__block">
                  <fieldset id="{{.InputId}}" class="qor-fieldset">
        {{- after -}}
                  </fieldset>
                </div>
            </div>
        {{end}}
    {{end}}
{{end}}