<div class="qor-field" data-meta-type="{{.MetaType}}">
    {{if .ReadOnly}}
        {{if not .ModeSingle}}
            <label class="qor-field__label">
                {{meta_record_label .Meta .Record}}
            </label>
        {{end}}
        {{$value := raw_value_of .Record .Meta}}
        <div class="qor-field__value qor-money__value money-{{if $value.IsZero}}zero{{else if $value.IsNegative}}debit{{else}}credit{{end}}{{if .MetaValue.Severity}} severity_{{.MetaValue.Severity}} severity--text severity--bg{{end}}">{{.Value}}</div>
    {{else}}
        <div class="qor-field__edit mdl-textfield mdl-textfield--full-width mdl-js-textfield mdl-textfield--floating-label">
            {{$value := raw_value_of .Record .Meta}}
            <input class="mdl-textfield__input input-money" type="text" id="{{.InputId}}" {{if .Meta.UITags.Flag "DISABLED"}}disabled{{end}} {{.Meta.Config.HtmlAttributtes .Context.Context .Record}} name="{{.InputName}}" value="{{.Value}}">

            {{if not .ModeSingle}}
                <label class="mdl-textfield__label" for="{{.InputId}}">
                    {{meta_record_label .Meta .Record}}{{if and not_show .Meta.Required}} <i class="required-asterisk">*</i>{{end}}
                </label>
                {{$help := meta_record_help .Meta .Record .ReadOnly}}
                {{if $help}}
                    <div class="qor-field__help">{{$help}}</div>
                {{end}}
            {{end}}
        </div>
    {{end}}
</div>
