<div class="qor-field">
  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
    <label class="qor-field__label mdl-textfield__label" for="{{.InputId}}">
      {{meta_record_label .Meta .Record}}{{if  and not_show .Meta.Required}} <i class="required-asterisk">*</i>{{end}}
    </label>
    {{$help := meta_record_help .Meta .Record}}
    {{if $help}}
      <div class="qor-field__help">{{$help}}</div>
    {{end}}


    <div class="qor-field__show">
      ******
    </div>

    <div class="qor-field__edit qor-field__left-1-icon">
      <input class="mdl-textfield__input qor-input__icon-as-rigth" type="password" id="{{.InputId}}" placeholder="******" name="{{.InputName}}" value="" {{if not (has_update_permission .Meta)}}disabled{{end}}>
      <button data-toggle="qor.password_visibility" data-toggle-icon="visibility_off" class="mdl-button mdl-js-button mdl-button--icon qor-input__icon" type="button">
        <i class="material-icons">visibility</i>
      </button>
    </div>
  </div>
</div>
