<div class="qor-field">
  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
    <label class="qor-field__label mdl-textfield__label" for="{{.InputId}}">
      {{meta_record_label .Meta .Record}}
    </label>
    {{$help := meta_record_help .Meta .Record}}
    {{if $help}}
      <div class="qor-field__help">{{$help}}</div>
    {{end}}


    <div class="qor-field__show">
      {{.Value}}
    </div>

    <div class="qor-field__edit">
      {{.Value}}
    </div>
  </div>
</div>
