{{- $current_value := .MetaValue.Raw -}}
{{ $meta := .Meta }}
{{- $is_existing_record := (not ($meta.IsNewRecord $current_value)) -}}
{{- if and (not .Value) $current_value -}}
    {{- .ReloadValue -}}
{{- end -}}
{{- if .ReadOnly -}}
    <div class="qor-field" {{if and $meta.Resource $current_value}}data-input-name="{{.InputName}}" data-input-value="{{$meta.Resource.GetKey $current_value}}"{{end}}>
        {{if not .ModeSingle}}
            <label class="qor-field__label">
                {{meta_record_label $meta .Record}}{{if and not_show $meta.Required}} <i class="required-asterisk">*</i>{{end}}
            </label>
        {{end}}
        <div class="qor-field__value">
            {{if and $current_value (defined_resource_show_page $meta.Resource)}}
                {{$url := ($meta.URLFor (admin_context) $current_value)}}
                {{if $url}}
                    {{if not ($meta.IsNewRecord $current_value)}}<a data-url="{{$url}}" href="{{$url}}">{{.Value}}</a>{{end}}
                {{else}}
                    {{.Value}}
                {{end}}
            {{else}}
                {{.Value}}
            {{end}}
        </div>
    </div>
{{- else -}}
    <div class="qor-field">
      {{if not .ModeSingle}}
          <label class="qor-field__label" for="{{.InputId}}">
            {{meta_record_label $meta .Record}}{{if and (not .ReadOnly) $meta.Required}} <i class="required-asterisk">*</i>{{end}}
          </label>

          {{$help := meta_record_help $meta .Record}}
          {{if $help}}
            <div class="qor-field__help">{{$help}}</div>
          {{end}}
      {{end}}

      <div class="qor-field__show">
          {{$value := $current_value -}}
            {{if $meta.Resource -}}
                {{if $meta.Resource.GetKey $value}}
                  {{if (defined_resource_show_page $meta.Resource)}}
                      {{$url := ($meta.URLFor (admin_context) $value)}}
                      {{if $url}}
                          {{if not ($meta.IsNewRecord $value)}}<a data-url="{{$url}}" href="{{$url}}">{{.Value}}</a>{{end}}
                      {{else}}
                          {{.Value}}
                      {{end}}
                  {{else}}
                      {{.Value}}
                  {{end}}
                {{end}}
            {{- else -}}
                {{$value}}
            {{- end -}}
      </div>

      <div class="{{if not .ModeSingle}}qor-field__block {{end}}qor-field__edit  qor-field__selectone" {{if (eq $meta.Config.SelectMode "bottom_sheet")}} data-toggle="qor.selectone"{{end}}
              {{- if $meta.Config.BottomSheetSelectedTemplateJS}} data-selected-render="{{$meta.Config.BottomSheetSelectedTemplateJS.String | b64}}"{{end}}
           {{$style := $meta.UITags.GetString "STYLE"}}{{if $style}}style="{{$style}}"{{end}}>
          {{if (eq $meta.Config.SelectMode "bottom_sheet")}}
            <template name="select-one-selected-template" type="x-tmpl-mustache">
              <p class="qor-field__selected" data-primary-key="[[ primaryKey ]]">
                <span class="qor-selected__change word-wrap">
                {{- if $meta.Config.BottomSheetSelectedTemplateJS -}}
                    [[ displayText ]]
                {{- else if $meta.Config.BottomSheetSelectedTemplate -}}
                    {{$meta.Config.BottomSheetSelectedTemplate}}
                {{- else -}}
                    [[ {{if $meta.Config.DisplayField}}{{$meta.Config.DisplayField}}{{else}}displayText{{end}} ]]
                {{- end}}</span>
                <a href="#" class="qor-selected__remove"><i class="material-icons">remove_circle_outline</i></a>
              </p>
            </template>

            <template name="select-one-selected-icon" type="x-tmpl-mustache">
              <span class="qor-select__select-icon"><i class="material-icons">check_circle</i></span>
            </template>

            {{if $is_existing_record}}
              <p class="qor-field__selected" data-primary-key="{{primary_key_of $current_value}}">
                <span class="qor-selected__change">{{.Value}}</span>
                <a href="javascript://" class="qor-selected__remove"><i class="material-icons">remove_circle_outline</i></a>
              </p>
            {{end}}

            <a href="javascript://" {{if $is_existing_record}}style="display:none"{{end}}
              class="mdl-button mdl-button--colored qor-field__selectone-trigger"
              data-select-modal="one" {{if .InputId}}data-select-id="#{{.InputId}}"{{end}}
              data-selectone-url="{{url_for $meta.Config}}"
              data-select-listing-url="{{url_for $meta.Config}}"
              {{if $meta.Config.RemoteDataResource.RecordeUrl}}data-remote-recorde-url="{{url_for $meta.Config.RemoteDataResource.RecordeUrl}}"{{end}}
              {{if has_create_permission $meta.Config.RemoteDataResource.Resource}} data-select-creating-url="{{new_resource_path $meta.Config.RemoteDataResource.Resource}}"
              data-select-default-creating="{{$meta.Config.DefaultCreating}}"{{end}}
              {{if $meta.Config.PrimaryField}}data-remote-data-primary-key="{{$meta.Config.PrimaryField}}"{{end}}
              {{if $meta.Config.DisplayField}}data-remote-data-display-key="{{$meta.Config.DisplayField}}"{{end}}
              {{if $meta.Config.IconField}}data-remote-data-icon-key="{{$meta.Config.IconField}}"{{end}}
              {{if $meta.Config.RemoteNoCache}}data-remote-data-cache="false"{{end}}><i class="material-icons">add</i></a>

            <select id="{{.InputId}}" class="qor-field__input qor-field__selectone-input hidden" name="{{.InputName}}">
              <option></option>
              {{if $is_existing_record}}
                <option value="{{primary_key_of $current_value}}" selected>{{.Value}}</option>
              {{end}}
            </select>
          {{else}}
            {{if $meta.Config.Select2ResultTemplate}}
              {{if $meta.Config.Select2ResultTemplate.Raw}}
                <script name="select2-result-template" data-raw="true" type="text/plain">
                    {{$meta.Config.Select2ResultTemplate.Data}}
                </script>
              {{else}}
                  <template name="select2-result-template">
                    {{$meta.Config.Select2ResultTemplate.Data}}
                  </template>
              {{end}}
            {{end}}
            {{if $meta.Config.Select2SelectionTemplate}}
              {{if $meta.Config.Select2SelectionTemplate.Raw}}
                  <script name="select2-selection-template" data-raw="true" type="text/plain">
                      {{$meta.Config.Select2SelectionTemplate.Data}}
                  </script>
              {{else}}
                  <template name="select2-selection-template">
                      {{$meta.Config.Select2SelectionTemplate.Data}}
                  </template>
              {{end}}
            {{end}}
            <select id="{{.InputId}}" class="qor-field__input hidden"
              {{if $meta.Config.RemoteDataResource}}{{if $is_existing_record}}chooser-selected="true"{{end}}{{end}}
              data-toggle="qor.chooser"
              data-placeholder="{{meta_placeholder $meta .Context "Select an Option"}}"
              name="{{.InputName}}"
              {{if $meta.Config.AllowBlank}}data-allow-clear="true"{{end}}
              {{if $meta.Config.IsRemote -}}
                data-remote-data="true"
                data-ajax-url="{{url_for $meta.Config}}"
                {{if $meta.Config.PrimaryField}}data-remote-data-primary-key="{{$meta.Config.PrimaryField}}"{{end}}
                {{if $meta.Config.DisplayField}}data-remote-data-display-key="{{$meta.Config.DisplayField}}"{{end}}
                {{if $meta.Config.IconField}}data-remote-data-icon-key="{{$meta.Config.IconField}}"{{end}}
                {{if $meta.Config.RemoteNoCache}}data-remote-data-cache="false"{{end}}
              {{end}}>
              <option></option>
              {{if $meta.Config.RemoteDataResource}}
                {{if $is_existing_record}}
                  <option value="{{primary_key_of $current_value}}" selected>{{.Value}}</option>
                {{end}}
              {{else}}
                {{range $values := ($meta.Config.GetCollection .Record .Context)}}
                  {{if ($meta.Config.Eq $current_value (index $values 0))}}
                    <option value="{{index $values 0}}" selected>{{index $values 1}}</option>
                  {{else}}
                    <option value="{{index $values 0}}" data-cv="{{$current_value}}">{{index $values 1}}</option>
                  {{end}}
                {{end}}
              {{end}}
            </select>
          {{end}}
      </div>
    </div>
{{end}}