{{$value := (raw_value_of .Record .Meta)}}
{{if and .ReadOnly .Meta.ReadOnlyStringer (not (is_nil $value))}}
    <div class="qor-field">
        {{if and (not .ModeSingle) .Meta.HiddenLabel}}
            <label class="qor-field__label" for="{{.InputId}}">
                {{meta_record_label .Meta .Record}}{{if and not_show .Meta.Required}} <i class="required-asterisk">*</i>{{end}}
            </label>
        {{end}}
        <div class="qor-field__value">{{.Value}}</div>
    </div>
{{else}}
    {{if is_nil $value}}
        {{- $value = .Meta.Resource.NewStruct -}}
    {{end}}

    {{if (or (not (.Meta.IsNewRecord $value)) (has_create_permission .Meta))}}
          {{$required := or .Meta.Required (.Meta.RecordRequired .Context .Record)}}
          {{$ctx := (.Context.CreateChild .Meta.Resource $value)}}

          {{wrap}}
              {{if .Meta.Config.SectionLayout}}
                  {{- admin_ctx_set_section_layout $ctx .Meta.Config.SectionLayout -}}
              {{end}}
              {{if .ReadOnly}}
                  {{render_nested_ctx "form" $ctx "show" .Meta -2}}
              {{else if (admin_context).Is "new" }}
                  {{render_nested_ctx "form" $ctx  "new" .Meta -2}}
              {{else if ((admin_context).Is "edit")}}
                  {{render_nested_ctx "form" $ctx "edit" .Meta -2}}
              {{else}}
                  {{render_nested_ctx "form" $ctx "show" .Meta -2}}
              {{end}}
          {{begin}}
              <div class="single-edit qor-field" data-name="{{.InputName}}">
                  {{if not .ReadOnly}}
                      <input type="hidden" name="{{.InputName}}.id" value="{{primary_key_of $value}}" />
                  {{end}}
                  {{if not .Meta.HiddenLabel}}
                      {{if and (not .ReadOnly) (not $required) (not (.Meta.Tags.Flag "DEFAULT"))}}
                          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
                              <input type="hidden" name="{{.InputName}}.@enabled" value="false">
                              <input type="checkbox" name="{{.InputName}}.@enabled" class="mdl-switch__input"
                                     type="checkbox" {{if .Value}}checked{{end}} data-toggle="single_edit">
                              <span class="qor-field__label mdl-switch__label">{{meta_record_label .Meta .Record}}</span>
                          </label>
                      {{else}}
                          <span class="qor-field__label" for="{{.InputId}}">
                            {{meta_record_label .Meta .Record}}{{if  and not_show $required}} <i class="required-asterisk">*</i>{{end}}
                          </span>
                      {{end}}
                  {{end}}
                  {{$help := meta_record_help .Meta .Record}}
                  {{if $help}}
                  <div class="qor-field__help">{{$help}}</div>
                  {{end}}

                <div class="qor-field__block" style="{{if and (not .ReadOnly) (not $required) (not (.Meta.Tags.Flag "DEFAULT")) }}display: none{{end}}" data-type="single_edit_value">
                  <fieldset id="{{.InputId}}" class="qor-fieldset">
        {{after}}
              </fieldset>
            </div>
          </div>
        {{end}}
    {{end}}
{{end}}