<div class="qor-field qor-field-url">
  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
    {{if .ReadOnly}}
      {{$label := .Meta.Config.GetLabel .Context .Record}}
      {{if not $label}}
          <label class="qor-field__label mdl-textfield__label">
            {{meta_record_label .Meta .Record}}
          </label>
        {{$help := meta_record_help .Meta .Record}}
        {{if $help}}
            <div class="qor-field__help">{{$help}}</div>
        {{end}}
      {{end}}
      <div class="qor-field__value">
        {{if .Meta.Config.Copy}}<a data-content-copy title="{{t (admin_i18n ":messages.copy_to_clipboard")}}"><i class="material-icons">file_copy</i></a>{{end}}
        {{if .Meta.Config.Download}}<a href="{{.Value}}" title="{{t (admin_i18n ":messages.file_download")}}"><i class="material-icons">file_download</i></a>{{end}}
        {{if .Meta.Config.NoLink}}
            {{arg | .Meta.Config.Wrap .Context .Record -}}
          <span class="qor-field__value-value" data-content-copy-value>{{.Value}}</span>
            {{- end}}
        {{else}}
            {{arg | .Meta.Config.Wrap .Context .Record -}}
          <a class="qor-field__value-value" data-copy-value {{if .Meta.Config.Target}}target="{{.Meta.Config.Target}}" {{end}}href="{{.Value}}">{{if $label}}{{$label}}{{else}}{{.Value}}{{end}}</a>
            {{- end}}
        {{end}}
      </div>
    {{else}}
      <label class="qor-field__label mdl-textfield__label" for="{{.InputId}}">
        {{meta_record_label .Meta .Record}}{{if  and not_show .Meta.Required}} <i class="required-asterisk">*</i>{{end}}
      </label>
      {{$help := meta_record_help .Meta .Record}}
      {{if $help}}
          <div class="qor-field__help">{{$help}}</div>
      {{end}}

      <div class="qor-field__show">{{arg | .Meta.Config.Wrap .Context .Record -}}<a  class="qor-field__value-value" href="{{.Value}}">{{.Value}}</a>{{- end}}</div>
      <div class="qor-field__edit">
        <input class="mdl-textfield__input" type="text" id="{{.InputId}}" name="{{.InputName}}" value="{{.Value}}" {{if not (has_update_permission .Meta)}}disabled{{end}}{{if .Meta.TemplateData}} {{index .Meta.TemplateData "attrs"}}{{end}}>
      </div>
    {{end}}
  </div>
</div>
