{{$context := .}}
{{$resource := .Resource}}
{{$readable := has_read_permission .Resource}}

{{if len .Result}}
  <table class="mdl-data-table mdl-js-data-table qor-table qor-js-table">
    <thead>
      <tr>
          <th class="mdl-data-table__cell--non-numeric qor-table__actions"></th>
        {{$order_by := $context.Request.URL.Query.Get "order_by"}}
        {{$metas := convert_sections_to_metas $resource index_sections}}
        {{range $index, $meta := $metas}}
            {{if $meta.Icon}}
              <th class="mdl-data-table__cell--non-numeric qor-table__icon-header"></th>
            {{else}}
              {{$is_sorted := eq $order_by $meta.FieldName}}
              {{$is_desc_sorted := eq $order_by (print $meta.FieldName ":desc")}}
              <th class="mdl-data-table__cell--non-numeric {{if is_sortable_meta $meta}}{{if (or $is_sorted $is_desc_sorted)}}is-sorted{{end}}{{end}}" data-heading="{{$meta.Name}}" {{if is_sortable_meta $meta}}{{if $is_sorted}}data-order-by="{{$meta.FieldName}}:desc"{{else}}data-order-by="{{$meta.FieldName}}"{{end}}{{end}}>{{meta_label $meta}}</th>
            {{end}}
        {{end}}
      </tr>
    </thead>

    <tbody>
      {{range $result := .Result}}
        {{$primaryKey := primary_key_of $result}}
        {{$url := url_for $result $resource}}
        {{$tags := $resource.GetViewTags $context $result}}
        <tr data-primary-key="{{$primaryKey}}" {{if $tags}}class="tag-{{join $tags "sep: tag-"}}"{{end}} {{if $readable}}data-url="{{$url}}{{if $context.Type.HasS "deleted"}}?:deleted=true{{end}}"{{end}}>
            <td class="mdl-data-table__cell--non-numeric qor-table__actions">
                {{include "shared/resource_menu_actions_children" $result}}
            </td>
            {{range $meta := $metas}}
            <td class="mdl-data-table__cell--non-numeric{{if $meta.Icon}} qor-table__icon{{end}}" data-heading="{{$meta.Name}}">
                {{if $meta.Icon}}
                    {{render_meta $result $meta}}
                {{else}}
                    <div class="qor-table__content">{{render_meta $result $meta}}</div>
                {{end}}
            </td>
          {{end}}
        </tr>
      {{end}}
    </tbody>
  </table>
{{else}}
  <h2 class="qor-page__tips">{{t (printf "%v.tables.no_items" $resource.ToParam) (printf "No %v to show." (t ($resource.PluralLabelKey) (plural $resource.Name)))}}</h2>
{{end}}
