{{$meta := .Meta}}
{{$values := (.Meta.Config.CurrentValues .Context .Record .Meta)}}
{{range $values}}
  {{- if (defined_resource_show_page $meta.Resource) -}}
    {{$url := ($meta.URLFor (admin_context) .)}}
    {{if $url}}
      <a data-url="{{$url}}" href="{{$url}}">{{stringify .}}</a>
    {{else}}
      {{stringify .}}
    {{end}}
  {{- else}}
    {{stringify .}}
  {{- end}},
{{end}}
