{{$value := .MetaValue.Raw}}
{{$url := (.Meta.URLFor (admin_context) $value)}}
{{if (and $url (defined_resource_show_page .Meta.Resource))}}
  <a data-url="{{$url}}" href="{{$url}}">{{stringify $value (make_opts "admin:table_cell" true)}}</a>
{{else}}
  {{.MetaValue.Value}}
{{end}}
