    <nav>
<span class="qor-breadcrumbs__you-are-here">{{t "github_com:ecletus:admin:layout.breadcrumb.you_are_here"}}</span>
{{$ctx := .Context}}
{{range crumbs -}}
    {{$uri := .URI $ctx -}}
    {{if $uri}}<a href="{{$uri}}">{{t .Label}}</a>{{else}}<a>{{t .Label}}</a>{{end}}
{{- end -}}
    {{- $current := current_crumb -}}
    {{if $current}}
        <a class="active">{{t $current.Label}}</a>
    {{else}}
    <a class="active">{{page_title}}</a>
    {{end}}
    </nav>