<div class="qor-breadcrumbs mdl-layout__header qor-page-subnav__header">
    <nav>
{{t "github_com:aghape:admin:layout.breadcrumb.you_are_here"}}
{{range crumbs}}
    <a href="{{.URI qor_context}}">{{t .Label}}</a>
{{end}}
    <a class="active">{{page_title}}</a>
    </nav>
</div>