{{$formatted_errors := get_formatted_errors}}
{{- if $formatted_errors -}}
  <ul class="qor-error" id="errors">
    {{range $formatted_errors}}
      <li>
        <label for="{{.Label}}">
          <i class="material-icons">error</i>
          {{range .Errors}}
            <span>{{htmlify (t (printf "github_com:ecletus:admin:errors.%v" .) .)}}</span>
          {{end}}
        </label>
      </li>
    {{end}}
  </ul>
{{- end}}
