<span id="site-logo" class="qor-logo" data-src="{{media_url "logo/logo.svg"}}" data-fallback="{{admin_static_url "images/logo.svg"}}" data-alt="{{t "github_com:ecletus:admin.layout.site_logo"}}"></span>