<a href="{{url}}"><span class="visuallyhidden">QOR</span></a>
<a href="{{url}}" target="_blank">{{t "github_com:ecletus:admin.view_site"}} <i class="material-icons md-14" aria-hidden="true">open_in_new</i></a>
