{{$menuClass := .MenuClass}}
{{with .Result}}
    {{if .Actions -}}
        {{- $context := .Context -}}
        {{- $resource := .Resource -}}
        {{- $has_update_permission := has_update_permission $resource -}}
        {{- $has_delete_permission := has_delete_permission $resource -}}
        {{- $result := .Result -}}
        {{- $primaryKey := primary_key_of $result -}}
        {{- $uniqueKey := unique_key_of $result -}}
        <ul class="qor-menu" for="actions-for-{{$uniqueKey}}">
            {{- range $action := .Actions -}}
            {{- $type := $action.TypeName -}}
            {{- $class := (dict "default" "" "danger" "mdl-color-text--red") -}}
            <li {{if $action.MdlIcon}}mdl-icon-name="{{$action.MdlIcon}}"{{else}}qor-icon-name="{{$action.Name}}"{{end}}>
            {{- if (eq $action.URLOpenType "_blank") -}}
                <a class="{{index $class $type}}" href="{{if $action.URL}}{{call $action.URL $result $context}}{{else}}{{join_url (url_for $result $resource) $action.ToParam}}{{end}}" target="_blank">
                {{- T $action -}}
                </a>
            {{- else -}}
                <a class="{{index $class $type}}"
                   href="javascript:void(0);"
                   data-url="{{if $action.URL}}{{call $action.URL $result $context}}{{else}}{{join_url (url_for $result $resource) $action.ToParam}}{{end}}"
                   {{if $action.URLOpenType -}}
                   data-open-type="{{$action.URLOpenType}}"
                   {{else if not $action.Resource -}}
                   data-ajax-form="true"
                   data-from-menu="true"
                   data-confirm="{{t "github_com:ecletus:admin.form.are_you_sure"}}"
                   data-method="{{$action.Method}}"
                {{- end}}>
                {{- T $action -}}
                </a>
            {{end}}
            </li>
            {{end}}
        </ul>
    {{end}}
{{end}}
