{{if .Result}}
  {{if not .SkipRoot?}}
    <ul class="qor-menu {{.MenuClass?}}">
  {{end}}
  {{range .Result}}
    {{if .SubMenus}}
      <li {{if .MdlIcon}}mdl-icon-name="{{.MdlIcon}}"{{else}}qor-icon-name="{{.GetIcon}}"{{end}} {{if .Active}}class="active"{{end}}>
        <a href="{{if .URL}}{{.URL}}{{else}}javascript:void(0);{{end}}">{{.Label}}</a>
        {{render "shared/menu" .SubMenus}}
      </li>
    {{else}}
      <li {{if .MdlIcon}}mdl-icon-name="{{.MdlIcon}}"{{else}}qor-icon-name="{{.GetIcon}}"{{end}} {{if .Active}}class="active"{{end}}>
        {{if .AjaxLoad}}{{link_to_ajax_load .Label .URL}}{{else}}{{link_to .Label .URL}}{{end}}
      </li>
    {{end}}
  {{end}}
  {{if not .SkipRoot?}}
  </ul>
  {{end}}
{{end}}