{{if .Result}}
  <ul class="qor-menu {{.MenuClass?}}" style="background-color: #dbe2f3">
    <li qor-icon-name="">
      <a href="javascript:void(0);">{{t "github_com:ecletus:admin.menus.Resources"}}</a>
      {{render "shared/menu" .Result}}
    </li>
  </ul>
{{end}}

{{$resourceActions := get_resource_menu_actions}}
{{if and $resourceActions $resourceActions.Actions}}
  <ul class="qor-menu resource-actions" style="background-color: #ece9d6">
    <li  qor-icon-name=""><a href="javascript:void(0);">{{t "github_com:ecletus:admin.menus.Actions"}}</a>
    {{render_with "shared/menu_actions" (dict "Result" $resourceActions "MenuClass" "resource-actions-menu")}}
    </li>
  </ul>
{{end}}