{{$children := read_permission_filter .Resource.GetItemMenus .Result}}
{{$resource := .Resource}}
{{$result := .Result}}
{{$ctx := .}}

{{if  $children}}
    {{$url := url_for $result $resource}}
    {{$primaryKey := primary_key_of $result}}
    {{$uniqueKey := unique_key_of $result}}
    <button id="actions-for-{{$uniqueKey}}" class="mdl-button mdl-js-button mdl-button--icon qor-button--actions">
        <i class="material-icons">more_vert</i>
    </button>

    <ul class="qor-menu mdl-menu mdl-menu--bottom-right mdl-js-menu" for="actions-for-{{$uniqueKey}}">
        {{range $child := $children}}
            <li class="mdl-menu__item" {{if .MdlIcon}}mdl-icon-name="{{.MdlIcon}}"{{else}}qor-icon-name="{{.GetIcon}}"{{end}}>
                {{link_to (T $child) (.ItemUrl (admin_context) $result (resource_parent_keys) $primaryKey)}}
            </li>
        {{end}}
    </ul>
{{end}}