<div class="qor-layout__sidebar">
  <div class="sidebar-header">
    {{render "shared/logo" .}}
  </div>
  {{if (.CurrentUser)}}
    <div class="sidebar-userinfo">
      <div class="sidebar-userinfo__actions">
        {{- $profile := t "github_com:ecletus:admin.account.profile" -}}
        {{- $logout := t "github_com:ecletus:admin.account.logout" -}}
        <a class="mdl-button mdl-js-button mdl-button--icon" href="{{profile_url}}" title="{{$profile}}" alt="{{$profile}}"><i class="material-icons">account_circle</i></a>
        <a class="mdl-button mdl-js-button mdl-button--icon" href="{{logout_url}}" title="{{$logout}}" alt="{{$logout}}"><i class="material-icons">exit_to_app</i></a>
      </div>
      <div class="sidebar-userinfo__label">{{(.CurrentUser).DisplayName}}</div>
    </div>
  {{else}}
    <div class="sidebar-userinfo">
      <div class="sidebar-userinfo__actions">
        {{$login := t "github_com:ecletus:admin.account.login"}}
        <a class="mdl-button mdl-js-button mdl-button--icon" href="{{login_url}}" title="{{$login}}" alt="{{$login}}"><i class="material-icons">input</i></a>
      </div>
      <div class="sidebar-userinfo__label">{{t "github_com:ecletus:admin.account.anonymous_label"}}</div>
    </div>
  {{end}}
  <div class="sidebar-body">
    <div class="qor-menu-container">
      {{if .GetSearchableResources }}
        <div qor-icon-name="Search">
          <span class="qor-global-search--show {{if (eq .Action "search_center")}}active{{end}}" data-placeholder="{{t "github_com:ecletus:admin.search_center.hint"}}" data-action-url="{{search_center_path}}">{{t "github_com:ecletus:admin.search_center.title" }}</span>
        </div>
      {{end}}

      {{if not ((admin_context).Type.HasS "action")}}
        {{render_with "shared/resource_menu" (dict "Menus" get_resource_menus "ObjectMenus" get_resource_item_menus "MenuClass" "resource-menu" "Resource" result)}}
      {{end}}
      {{render "shared/menu" get_menus}}
    </div>
  </div>
  <div class="sidebar-footer">
    {{include "./copyrigth"}}
  </div>
</div>
