<div class="qor-layout__sidebar">
  <div class="sidebar-header">
    {{$logo := (tt "github_com:ecletus:admin.layout.logo" (_tpl_funcs) "-")}}
    {{if eq $logo "-"}}
      {{render "shared/logo" .}}
    {{else}}
      {{$logo}}
    {{end}}
  </div>
  {{if (.CurrentUser)}}
    <div class="sidebar-userinfo">
        <h5>{{(.CurrentUser).DisplayName}}</h5>
      <div style="height:30px">
      {{$profile := t "github_com:ecletus:admin.account.profile"}}
      {{$logout := t "github_com:ecletus:admin.account.logout"}}
      <a class="mdl-button mdl-js-button mdl-button--icon" href="{{profile_url}}" title="{{$profile}}" alt="{{$profile}}"><i class="material-icons">account_circle</i></a>
      <a class="mdl-button mdl-js-button mdl-button--icon" href="{{logout_url}}" title="{{$logout}}" alt="{{$logout}}"><i class="material-icons">exit_to_app</i></a>
      </div>
    </div>
  {{end}}
  <div class="sidebar-body">
    <div class="qor-menu-container">
      {{if .GetSearchableResources }}
        <div qor-icon-name="Search">
          <span class="qor-global-search--show {{if (eq .Action "search_center")}}active{{end}}" data-placeholder="{{t "github_com:ecletus:admin.search_center.hint"}}" data-action-url="{{search_center_path}}">{{t "github_com:ecletus:admin.search_center.title" }}</span>
        </div>
      {{end}}

      {{render_with "shared/resource_menu" (dict "Result" get_resource_menus "MenuClass" "resource-menu" "Resource" result)}}
      {{render "shared/menu" get_menus}}
    </div>
  </div>
  <div class="sidebar-footer">
    {{t "github_com:ecletus:admin.layout.powered_by"}}
  </div>
</div>
