{{- wrap strip -}}
    {{- load_actions "index" "bulk_edit/left" -}}

    {{- wrap strip -}}
        {{load_actions "index" "bulk_edit/rigth"}}
    {{- begin -}}
        <div class="mdl-layout-spacer"></div>
    {{- end -}}
{{- begin -}}
    <div class="qor-actions-bulk hidden">
{{- after -}}
    </div>
{{- end -}}