{{- $argument := .Result -}}

<div class="qor-page__body{{if ne .RequestLayout "lite"}} qor-page__show{{end}}">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <div class="qor-form-container" data-toggle="qor-action-slideout">
      {{if $argument.Action.Resource}}
          {{$ctx := .CreateChild $argument.Action.Resource $argument.Argument}}
          {{render_form $argument.Argument (show_sections_ctx $ctx)}}
      {{end}}
  </div>
</div>
