{{$actions := load_actions "edit"}}

<div class="qor-page__header">
  {{$actions}}
</div>

<div class="qor-page__body qor-page__edit">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <div class="qor-form-container">
    <form class="qor-form" action="{{url_for .Result .Resource}}" data-id="{{.Context.ResourceID}}" method="POST" enctype="multipart/form-data">
      <input name="_method" value="PUT" type="hidden">

      {{render_form .Result (edit_sections .Resource .Result)}}

      {{if has_update_permission .Resource}}
        <div class="qor-form__actions">
          <button class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect qor-button--save" type="submit">{{t "github_com:aghape:admin.form.save_changes"}}</button>
          <a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-button--cancel" href="javascript:void(0);" onclick="QOR.submitContinueEditing(this);">{{t "github_com:aghape:admin.form.save_continue_editing" }}</a>
          <a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-button--cancel" href="javascript:history.back();">{{t "github_com:aghape:admin.form.cancel_edit"}}</a>
        </div>
      {{end}}
    </form>
  </div>
</div>
