<div class="qor-page__body qor-page__edit">
  {{- render "shared/alerts" -}}
  {{- $help := resource_help .Resource -}}
  {{- if $help -}}
    <div class="qor-help">
      {{- $help -}}
    </div>
  {{- end -}}

  {{- render "shared/flashes" -}}
  {{- render "shared/errors" -}}

  <div class="qor-form-container">
    {{- record_frame .Resource .Result "common/start" -}}
    {{- record_frame .Resource .Result "edit/start" -}}
    {{- $cfg := update_config -}}
    <form class="qor-form" action="{{$cfg.FormAction}}" data-id="{{.Context.ResourceID}}" method="POST" enctype="multipart/form-data" data-async="true">
      <input name="_method" value="PUT" type="hidden">
      {{- record_frame .Resource .Result "edit/form/start" -}}
      <p><strong><i class="required-asterisk">*</i></strong> {{t "github_com:ecletus:admin.form.required_fields"}}</p>
      {{- render_form .Result (edit_sections .Resource .Result) -}}
      {{- record_frame .Resource .Result "edit/form/end" -}}
      {{- if has_update_permission .Resource -}}
        <div class="qor-form__actions">
          <button class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect qor-button--save" type="submit">{{$cfg.ButtonLabel}}</button>
          {{- if not $cfg.ContinueEditingDisabled -}}
            <a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect" href="javascript:void(0);" onclick="QOR.submitContinueEditing(this);">{{t "github_com:ecletus:admin.form.save_continue_editing" }}</a>
          {{- end -}}
          <a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-button--cancel" href="{{default $cfg.CancelUrl "javascript:history.back();"}}">{{t "github_com:ecletus:admin.form.cancel_edit"}}</a>
        </div>
      {{- end -}}
    </form>
    {{- record_frame .Resource .Result "edit/end" -}}
    {{- record_frame .Resource .Result "common/end" -}}
  </div>
</div>
