{{define "new_buttom"}}
  {{if has_create_permission .Resource}}
    {{$new_url := (new_resource_path .Resource)}}
    <a class="mdl-button mdl-button--fab mdl-button--primary qor-button--new" href="{{$new_url}}" data-submit-success-target="window" data-url="{{$new_url}}">
        <i class="material-icons">add</i>
    </a>
  {{end}}
{{end}}

<div class="qor-page__body">
  {{include "shared/alerts"}}
  {{include "shared/flashes"}}
  {{include "shared/errors"}}

  {{if .Result}}
    {{record_frame .Resource .Result "index/before"}}

    <div class="qor-table-container">
      {{record_frame .Resource .Result "index/table/before"}}
      {{include "index/table"}}
      {{record_frame .Resource .Result "index/table/after"}}
    </div>

    {{template "new_buttom" .}}

    {{include "index/pagination"}}

    {{record_frame .Resource .Result "index/after"}}
  {{else}}
    <div class="center-text">{{t "github_com:ecletus:admin:layout.no_records_found" "No records found."}}</div>
    {{template "new_buttom" .}}
  {{end}}
</div>
