{{define "new_buttom"}}
  {{if has_create_permission .Resource}}
  {{$new_url := (new_resource_path .Resource)}}
  <a class="mdl-button mdl-button--fab mdl-button--primary qor-button--new" href="{{$new_url}}" data-url="{{$new_url}}">
      <i class="material-icons">add</i>
  </a>
  {{end}}
{{end}}

<div class="qor-page__header">
  {{$actions := load_actions "index" }}
  {{if $actions}}{{$actions}}{{end}}
</div>

<div class="qor-page__body">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  {{if .Result}}
    <div class="qor-table-container">
      {{render "index/table"}}
    </div>

    {{template "new_buttom" .}}

    {{render "index/pagination"}}
  {{else}}
    <div style="text-align: center">{{t "github_com:aghape:admin:layouts.no_records_found" "No records found."}}</div>
    {{template "new_buttom" .}}
  {{end}}
</div>
