<div class="qor-page__header">
  {{$actions := load_actions "new" }}
  {{if $actions}}{{$actions}}{{end}}
</div>

<div class="qor-page__body qor-page__new">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <div class="qor-form-container">
    <form class="qor-form" action="{{url_for .Resource}}" method="POST" enctype="multipart/form-data">
      {{render_form .Result (new_sections) }}

      {{if has_create_permission .Resource}}
        <div class="qor-form__actions">
            <button class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect qor-button--save" type="submit">{{t "github_com:ecletus:admin.form.add" }}</button>
            <a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-button--cancel" href="javascript:void(0);" onclick="QOR.submitContinueEditing(this);">{{t "github_com:ecletus:admin.form.add_continue_editing" }}</a>
            <a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-button--cancel" href="javascript:history.back();">{{t "github_com:ecletus:admin.form.cancel"}}</a>
        </div>
      {{end}}
    </form>
  </div>
</div>
