.qor-field-url {
  .qor-field__value-value {
    font-size: 90%;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

form {
  .required-asterisk {
    color: darkred;
  }
}

.qor-field__left-1-icon {
  position: relative;
  .qor-input__icon {
    bottom: 0;
    position: absolute;
    margin: 0;
    right: 0;
  }

  .qor-input__icon-as-rigth {
    width: calc(100% - 35px);
  }
}

TD > .qor-field > .mdl-textfield {
  width: auto;
}