{{if and .Searcher.Pagination .Searcher.Pagination.Total -}}
    {{- wrap strip -}}
      {{- include "./default/actions" -}}

      {{- if eq (admin_context).Action "index" -}}
          {{- include "./bulk_edit/actions" -}}
      {{- end -}}

    {{- begin}}
      <div class="qor-actions">
    {{- after -}}
      </div>
    {{- end -}}
{{- end -}}