{{if (.CurrentUser)}}
    <div class="mdl-layout-spacer"></div>
    <button class="mdl-button mdl-navigation mdl-layout--small-screen-only qor-mobile--show-actions">{{t "github_com:ecletus:admin.layout.header.actions"}} <i class="material-icons">arrow_drop_down</i></button>
{{end}}
