{{if (admin_context).Searcher.Pagination.Total}}
    <span class="qor-action--label">{{sprintf (ts "github_com:ecletus:admin.recordes.count") (admin_context).Searcher.Pagination.Total}}</span>
{{end}}
