{{$scopes := get_scopes false}}
{{$resource := .Resource}}
{{if $scopes}}
  <div class="qor-bottomsheet__filter" data-toggle="qor.filter">
    {{range $scope := $scopes}}
      {{if $scope.Group}}
        <select class="qor-action--select" data-toggle="qor.selector" data-clearable="true" name="scope[]" placeholder="{{$scope.Label}}">
          {{range $s := $scope.Scopes}}
            <option value="{{$s.Name}}" {{if $s.Active}}selected{{end}}>{{$s.Label}}</option>
          {{end}}
        </select>
      {{else}}
        {{range $s := $scope.Scopes}}
          <a class="qor-action--label {{if $s.Active}}is-active{{end}}" href="{{patch_current_url "~scope[]" $s.Name}}">{{$s.Label}} {{if $s.Active}}<i class="material-icons">clear</i>{{end}}</a>
        {{end}}
      {{end}}
    {{end}}
  </div>
{{end}}
